@charset "UTF-8";
body{
	font-size: 12px;
	font-family: microsoft yahei;
	margin: 0;
	color: #000;
}
*{
	padding: 0;
	margin: 0;

}


}
img{
	border: none;
}
.clear{clear: both;}

.main{
	margin: 10px auto;
}
a:hover{
	color:#ce2626;
	text-decoration:none;
}
/* 头部 */
.top_bg{
	line-height: 30px;
	background: #f7f7f7;
	height: 30px;
}

.logo{
	margin: 5px auto;
}
.nav_bg{background: #ce2626;width: 100%;color: #fff;height: 30px;}
a.white:hover{
	color:#ff0;text-decoration:none;
}

/* 左侧导航 */
.menu{
	width: 220px;
	float: left;
	border: 1px solid #e5e4e1;height: 350px;
	background-color: #FFC;
}
/* 中间部分 */
.middle{
	float: left;width: 690px;
}
.lefte_pic{
	
	margin-bottom: 10px;
	height: 200px;
    margin-left:10px;
	background-color: #6CF;
}
.pic_title{
	background: #ff9c01;
	line-height: 35px;
	color: #fff;
	text-indent: 20px;
	text-align: left;
	width: 680px;
	float: left;
	font-size: 14px;
	margin: 0 10px 10px;
}

/* 右侧公告 */
.right_nav{
	width: 280px;
	border: 1px solid #eee;
	float: right;
	height: 270px;
	background-color: #fCC;
}

/* foot */
.pic-list4{
	height:20px;
	background-color:#CCC;margin-left:10px;
}
.foot_title{
	background: #6a6665;
	width: 100%;
	height: 40px;
	padding-top: 8px;

}
.foot_line{
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	margin-top: 10px;
}
.foot_list{
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
	height: 60px;
	background-color: #ddd;
}